button {
    background-color: blueviolet;
    font-size: medium;
    font-weight: 200;
    padding: 0.8rem 2rem;
    border-radius: 10px;
    display: flex;
    inline-size: fit-content;
    margin-left: 0;
    margin-top: 2rem;
}