header {
    background-color: blue;
}



.logoSoundwave {
    height: 60px;
    background-color: yellow;
}

.navbar-container {
    z-index: 999;
    width: 100%;
    height: 10vh;
    display: flex;
    align-content: center;
    align-items: center;

}

.divLogo {
    width: 50vw;
    height: 50px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

}

.divLogo p {
    font-size: 18px;
}


.divPages {

    width: 50vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

@media screen and (max-width:700px) {

    .logoSoundwave {
        height: 50px
    }

    .navbar-container {
        height: 50px
    }

    .divPages {
        display: flex;
        justify-content: space-around;
    }

    .divLogo {
        display: flex;
        justify-content: space-around;
        margin-left: 2rem;
    }
}