
* {
  color: white;
  font-size: 1.2rem;
  font-family: Poppins,Arial, Helvetica, sans-serif;
 
}
:root {
  background-color: #2F303A;
  --accent-color: #BD3A81;

}

@media screen and (max-width:700px){
  :root {
   font-size: 0.8rem;
   min-height: 100vh; 
  }

}